html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}

.Overhead {
  text-align: center;
  font-size: 250%;
  padding: 10px;
  color: white;
}

canvas {
  outline: 5px solid #69898B;
  outline-offset: -10px;
  margin: auto;
  display: block;
  padding: 10px;
  font-size: 150%;
}

button {
  font-size: 110%;
  margin: 0 auto;
  display: block;
  
}

